 @import url('reset.css');

/**{outline: 1px solid red;}*/

a{
	text-decoration: none;
	color: #521100;
}

a:hover{
	color: orange;
}

h2{
	color: #521100;
	font-size: 30px;
	text-align: center;
	padding: 100px 0 30px;
}
h3{
	color: #521100;
	font-size: 20px;
}
p{
	color: #521100;
}

/*-------------------------------------------------------*/
body{
	font-family: Arial;
	/*background-image: url(../../img_basis/bg_img.png);*/
	background-position: top center;
}
.wrapper{
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding-top:0.1px;
	/*background-color: yellow; */

}
.part{
	margin: 0 auto;
}

/*-------------------------------------------------------------*/

.photo{
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.photos > p{
	padding: 5px 0px 0px 5px;
	color: white;
}
/*-------------------------------------------------------------*/

 html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .wrapper .swiper-container {
    	background-image: url(../img_index/photo_bg.png);
		width:100%;
		height: 0px;
		padding-bottom: 38%;
    }

    .swiper-container h2 {
    	color: white;
    	padding-top: 7%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: rgba(255,255,255,0);
      


      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: flex-start;
    }

     .swiper-slide img{
     	width: 100%;
     	display: block;
     }

     .swiper-slide p{
     	width: 100%;
     	display: block;
     	text-align: right;
     	padding-top: 1%;
     	padding-bottom: 1%;
     	color: white;
     	background-color: rgba(1,1,1,.5);
     	font-size: 12px;
     }

     .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    display: none;
}

     .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    color: white;
	}
	.swiper-button-next:after, .swiper-button-prev:after {
	color: white;
	}


	@media screen and (min-width: 992px) and (max-width: 1199px){
		.wrapper .swiper-container {
		padding-bottom: 42%;
    	}
	}
	@media screen and (min-width: 768px) and (max-width:991px){
		.wrapper .swiper-container {
		padding-bottom: 56%;
    	}
	}
	@media screen and (min-width: 576px) and (max-width: 767px){
    	.wrapper .swiper-container {
		padding-bottom: 70%;
    	}
    }

    @media screen  and (max-width:575px){
		.wrapper .swiper-container {
		padding-bottom: 110%;
    	}
	}
/*-------------------------------------------------------------*/
.part.intro{
	text-align: center;
	padding:  0 4% 4%;
}
.part.intro p{
	margin-bottom: 0.5%;
}
/*-------------------------------------------------------------*/
.part.about{
	text-align: center;
	background-image: url(../img_index/222.png);
	width: 100%;
	height: auto;
	padding: 0 0 5%;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.part.about p{
	margin-bottom: 0.5%;
}
.part.about p,.part.about h2{
	color: orange;
	text-shadow: gray 0 1px 1px;
}

/*-------------------------------------------------------------*/
.part.spirits{
	/*padding: 0 25px;*/


}
.spirit > li{
	display: flex;
	align-items: center;

}
.spirit_2{
	justify-content: flex-end;
	text-align: right;
}
.spirit li article{
	padding: 30px 50px;
	width: 650px;
	margin: 10px 15px;
	border-radius: 10px;
	background-image: url(../img_index/222.png);
	width: 100%;
	height: auto;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.spirit li article h3{
	margin-bottom: 10px;
	font-size: 20px;
	color: orange;
	text-shadow: gray 0 1px 1px;
}

.spirit li article p{
	color: orange;
	text-shadow: gray 0 1px 1px;
	line-height: 1.5;
}
 	@media screen and (max-width: 575px){
 		.spirit > li{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		margin-bottom: 30px;
		}
		.spirit > li > img{
			max-width: 100%;
		}
		.spirit .spirit_2{
			align-items: flex-end;
			text-align: right;
		}
		.spirit_2 img{
			order: 1;
		}
		.spirit_2 article{
			order: 3;
		}
		.spirit li article{
			padding: 10px 0;
			width: 100%;
		}
		.spirit li article h3{
			margin-bottom: 10px;
			font-size: 20px;
		}
 	}
    @media screen and (min-width: 576px) and (max-width: 767px){
    	.part.spirits{ padding: 0;}
    	.spirit > li >img{
		width: 35%;
		height: auto;}
		.spirit li article{
		padding: 10px;
		width: 100%;
		}
    }
    @media screen and (min-width: 768px) and (max-width: 991px){
    	.spirit > li >img{
		width: 35%;
		height: auto;
		}
    }
    /*@media screen and (min-width: 992px) and (max-width: 1199px){}*/
    /*@media screen and (min-width: 1200px) {}*/
/*-------------------------------------------------------------*/
.features{}
.feature{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;


}
.feature > li{
	width: 45%;
	height: 0;
	background-position: center center;
	background-repeat: no-repeat;
	margin-bottom: 4%;
	padding: 4% 20px 8%;
	box-sizing: border-box;
	text-shadow: gray 0 1px 1px;
	
}
.feature > li > h3{
	color: white;
	
}
.feature > li > p{
	color: white;
}

.feature > li >h3{
	margin-bottom: 10px;
}

.feature_1{
	background-image: url(../img_index/12_1.png);
	background-size: cover;

}
.feature_2{
	background-image: url(../img_index/15_1.png);
	background-size: cover;
	text-align: right;
}

.feature_3{
	background-image: url(../img_index/14_1.png);
	background-size: cover;
}
.feature_4{
	background-image: url(../img_index/13_1.png);
	background-size: cover;
	text-align: right;
}
	@media screen and (max-width: 575px){
		.feature{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;

	}

 		.feature > li{
		width: 48%;
		height: 0;
		background-position: center center;
		background-repeat: no-repeat;
		margin-bottom: 4%;
		padding: 3% 10px 33%;
		box-sizing: border-box;
		text-shadow: gray 0 1px 1px;
		
	}
	.feature > li > p{
	font-size: 12px;
	line-height: 1.2;
	}
	.feature > li >h3{
	font-size: 16px;
	}


	}


 	@media screen and (min-width: 576px) and (max-width: 767px){

 		.feature{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;

	}

 		.feature > li{
		width: 48%;
		height: 0;
		background-position: center center;
		background-repeat: no-repeat;
		margin-bottom: 4%;
		padding: 3% 10px 22%;
		box-sizing: border-box;
		text-shadow: gray 0 1px 1px;
		
	}
    }
   /* @media screen and (min-width: 768px) and (max-width: 991px){
    
    }*/
    @media screen and (min-width: 768px) and (max-width: 1199px){
    	.feature{
		display: inline-block;
		width: 100%;
		}
		.feature > li{
			width: 75%;
			height: 0;
			background-position: center center;
			background-repeat: no-repeat;
			/*margin-bottom: 4%;*/
			padding: 4% 20px 10%;	
		}
		.feature_2, .feature_4{
			float: right;
		}

		.feature_1, .feature_3{
			clear: both;
		}
    }


/*-------------------------------------------------------------*/
.part.brands{
}
.brand{
	display: flex;
	justify-content: space-around;
}
.brand li {
	text-align: center;
}

.brand li p{
	display: inline-block;
	width: 80%;
	padding: 4% 0 0 ;
}

.brand li img{
	width: 75%;
}
.brand li h3{
	text-align: center;
	padding-top: 15px;
}
	@media screen and (max-width: 575px){

	.brand{
	display: flex;
	flex-direction: column;
	}

	.brand li {
	margin-bottom: 10px;
	}

	.brand li img {
	float: left;
	width: 50%;
	}

	.brand li p{
	display: inline-block;
	width: 50%;
	padding: 12% 3% 0 ;
	box-sizing: border-box;
	}

	li.hotel_brands > img {
	float: right;
	width: 50%;
	}

	}

 	@media screen and (min-width: 576px) and (max-width: 767px){

 	.brand{
	display: flex;
	justify-content: space-between;
	}
	
	.brand li {
	width: 30%;
	}

	.brand li p{
	display: inline-block;
	width: 90%;
	padding: 4% 0 0 ;
	}

	.brand li img{
		width: 100%;
	}


	}



/*-------------------------------------------------------------*/
.part.activities{

}
.activity{
	display: flex;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
	flex-wrap: wrap;
	width: 100%;
	height: 395px;
}
.activity > li{
	background-repeat: no-repeat;
	background-size: 373px 392px;
	width: 373px;
	height: 392px;
	padding: 0 20px;
	box-sizing: border-box;
	overflow: hidden;

}
.activity > li > h3{
	margin-top: 250px;
	margin-bottom: 15px;
}
.activity_1{
	background-image: url(../img_index/Group55.png);

}
.activity_2{
	background-image: url(../img_index/Group56.png);

}
.activity_3{
	background-image: url(../img_index/Group57.png);

}
.activity + p{
	text-align: right;
	margin-top: 20px;
	margin-right: 10px;
	padding-bottom: 10px;
	font-size: 20px;
}


/*-------------------------------------------------------------*/
.part.list{
}
.list li h3{
	font-size: 30px;
	color: white;
}
.list li h3:hover{
	color: orange;
}
.list li p{
	font-size: 20px;
	color: white;
	padding: 0 15px;
}
.list li p:hover{
	color: orange;
}
.list li{
	height: 183px;
	padding: 80px;
	box-sizing: border-box;
	background-position: center;
	margin-bottom: 3px;
	display: flex;
	
	align-items: center;
	text-shadow: gray 0 1px 1px;
}
.cafe{
	background-image: url(../img_index/Group132_0.png);
	flex-direction: row-reverse;
	justify-content: flex-start;
}
.hotel{
	background-image: url(../img_index/Group141_0.png);
}
.hospital{
	background-image: url(../img_index/Group143_0.png);
	flex-direction: row-reverse;
	justify-content: flex-start;
}

@media screen and (max-width: 575px){
	.list li{
		justify-content: center;
		padding: 80px 0;
	}

}
/*-------------------------------------------------------------*/


/* 40px */
.toTop-arrow {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 33%;
	opacity: 0.6;
	background: #000;
	cursor: pointer;
	position:fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
	width: 18px;
	height: 5px;
	border-radius: 3px;
	background: #f90;
	position: absolute;
	content: "";
}
.toTop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.5rem;
}
.toTop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.5rem;
}
.toTop-arrow:focus {outline: none;}
 
 
/* 48px */
.toTop-arrow {
	width: 3rem;
	height: 3rem;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 33%;
	opacity: 0.6;
	background: #000;
	cursor: pointer;
	position:fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
	width: 25px;
	height: 6px;
	border-radius: 3px;
	background: #f90;
	position: absolute;
	content: "";
}
.toTop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.42rem;
}
.toTop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.42rem;
}
.toTop-arrow:focus {outline: none;}
 
/* 56px */
.toTop-arrow {
	width: 3.5rem;
	height: 3.5rem;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 33%;
	opacity: 0.6;
	background: #000;
	cursor: pointer;
	position:fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
	width: 31px;
	height: 7px;
	border-radius: 3px;
	background: #f90;
	position: absolute;
	content: "";
}
.toTop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.4rem;
}
.toTop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.4rem;
}
.toTop-arrow:focus {outline: none;}