 @import url('reset.css');

/**{outline: 1px solid red;}*/
a{
	text-decoration: none;
	color: #521100;
}

a:hover{
	color: orange;
}

h2{
	color: #521100;
	font-size: 30px;
	text-align: center;
	padding: 15px 0 10px;
}
h3{
	color: #521100;
	font-size: 20px;
}
p{
	color: #521100;
}





/*-------------------------------------------------------------*/
.part.bread{
	padding-top: 68px;
	color: white;
	text-shadow:  gray 0 1px 1px;
}
.part.bread p{
	color: white;

}

/*-------------------------------------------------------------*/
.human_pic{
	width: 200px;

}
h2{
	margin: 6px 0 220px;
}
/*-------------------------------------------------------------*/
.menu_bgc{
	background-image: url(../img_cafe/Group248.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 1200px 1600px;
}

table,tr,td{
	margin: 0 auto;
	border:1px solid #8C6055;
}
.title{
	font-size: 20px;
	line-height: 1.6;
}
td{
	color: #521100;
	line-height: 1.3;
}
article{
	text-align: center;
}


/*-------------------------------------------------------------*/




	@media screen and (min-width: 600px) and (max-width: 767px){

 		.menu_bgc{
		background-image: url(../img_cafe/Group248.png);
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 170% auto;
		}

		body div.wrapper{
			width: 100%;
		}

    }


    	@media screen  and (max-width: 599px){

 		.menu_bgc{
		background-image: url(../img_cafe/Group248.png);
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 200% auto;
		}

		body div.wrapper{
			width: 100%;
		}


		table,tr,td{
		margin: 0 auto;
		border:1px solid #8C6055;
		font-size: 12px;
	}
	.title{
		font-size: 16px;
		line-height: 1.6;
	}


	h2{
	margin: 6px 0 47%;
	
    }

    article{
	margin-bottom: 30px;
}
}