 @import url('reset.css');

/*-------------------------------------------------------------*/
.locations > section{

	background-image: url(../web_location/img_locations/wallhaven4gwmvd4.jpg);
	background-position: -80px -11px;
	background-repeat: repeat;
	padding-top: 15px;
	padding-bottom: 15px;
}
.main_do{
	width: 99%;
	height: 95%;
	margin: 0 auto;
	border: 2px dashed #521100;
	border-radius: 20px;
	padding-top: 15px;
	box-sizing: border-box;
}

.location{
	display: flex;
	justify-content: space-around;
	overflow: hidden;


}
.location li{
	margin: 0 30px;
}


.dot{
	padding: 10px;
	border: 2px dashed #521100;
	border-radius: 20px;
	margin-bottom: 20px;
	display: inline-block;

}
.dot >img{
	width: 200px;
}
.location > li >p+p{
	text-align: right;
} 
.location > li >h3{
	margin-bottom: 5px;
}
.location + p{
	text-align: right;
	margin-top: 20px;
	margin-right: 10px;
	padding-bottom: 10px;
	font-size: 20px;
}

.location{
	overflow-x: scroll;
}

@media screen and (max-width: 575px) { 

	.main_do{
	width: 95%;
	
	}
	
	.location > li{
	text-align: center;
	display: inline-block;
	margin: 20px 10px;
	}
	
	.dot >img{
	width: 135px;
	}
}
/*-------------------------------------------------------------*/
footer{
	background-image: url(../img_basis/wallhaven-neojdw.jpg);
	background-position: center;
	padding: 80px 30px;
}
.bottom {
	display: flex;
	justify-content: space-around;
	margin-bottom: 35px;
}

.bt_link_title{
	color: white;
}
.bt_link_list > li{
	text-align: center;
}
.bt_link_list > li > p > a{
	color: white;
	line-height: 1.5;
}
.bt_link_list > li > p > a:hover{
	color: orange;
}
.bt_information{
	text-align: center;
}
h4{
	color: white;
	text-align: center;
}
.underline{
	background-color: white;
	width: 80px;
	height: 1px;
	margin: 20px auto;
}
h4+h4+h4{
	margin-bottom: 10px;
}
.logo2{
	width: 100px;
}

@media screen and (max-width: 575px) {
	.bottom {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
	}
	footer{
	background-image: url(../img_basis/wallhaven-neojdw.jpg);
	background-position: center;
	padding: 80px 3px;
	}
	.bottom div h3{
	font-size: 16px;
	text-align: center;
	}
	.underline{
	background-color: white;
	width: 60px;
	height: 1px;
	margin: 20px auto;
}
}